<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <a class="navbar-brand" href="#">
          <img src="./image/dexter.png" width="50" height="50" alt="Dexter">Dexter Dojo</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
         </ul>
         <form class="form-inline">
           <a href="#" class="notification-counter float-right px-3" data-counter="51" >
               <i class="fa fa-bell-o"></i>
           </a>
             <div class="inset">
                 <img src="./image/img1.png">
               </div>
               <div class="dropdown px-3">
                 <button class="btn clr dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Roselyn
                 </button>
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="#">Setting</a>
                   <a class="dropdown-item" href="#">Logout</a>
                 </div>
               </div>
             </form>
           </div>
         </nav>
<!-- end navbar -->

<!-- cover-image -->
         <div class="container-fluid cover-pic">
           <div class="row">
             <div class="col-md-12">
             </div>
           </div>
         </div>
<!-- end cover-image -->

<!-- 2nd navbar -->

               <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">

                 <div class="Pro-avatar">
                   <div class="ProAvatar">
                     <a class="ProAvatar-container" href="" data-resolved-url-large="" data-url="" target="_blank" rel="noopener" data-original-title="">
                       <img class="ProAvatar-image" src="./image/dp.jpg" alt="">
                     </a>
                   </div>
                 </div>
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                 </button>
       <div class="collapse navbar-collapse justify-content-center" id="navbarcontent">
          <div id="topheader">
              <ul class="nav navbar-nav">
                <li class="nav-item px-2 " style="font-size:18px;"><a class="nav-link">Stories</a></li>
                <li class="nav-item px-2 active" style="font-size:18px;"><a class="nav-link">Class</a></li>
                <li class="nav-item px-2" style="font-size:18px;"><a class="nav-link">Staff</a></li>
                <li class="nav-item px-2" style="font-size:18px;"><a class="nav-link">Student</a></li>
                <li class="nav-item px-2" style="font-size:18px;"><a class="nav-link">Event</a></li>
                 <li class="nav-item px-2" style="font-size:18px;"><a class="nav-link">Message</a></li>
              </ul>
           </div>
           </div>
           <div class="justify-content-end">
             <img src="./image/setting.png">
           </div>

     </nav>

<!-- end 2nd-navbar -->
<div class="container-fluid">
<div class="d-flex justify-content-end" style="opacity:0.3;">
  class
<i class="fa fa-caret-down" style="margin-top:5px;"></i>
</div>
</div>
<div class="container">
  <div class="row">
     <div class="col-md-1"></div>
<!-- 1st card -->
 <div class="col-md-2" style="margin-top:35px;">
   <div class="card">
       <div class="d-flex justify-content-end" style="padding-right:10px;margin-top:3px;">
         <img src="./image/cardsetting.png">
       </div>
     <div class="text-center">
       <img src="./image/physics.png">
     </div>
     <div class="text-center mt-2">
       <a>Physics paper I</a>
     </div>
     <div class="text-center">
       <img src="./image/cardpro.png">
       <a style="font-size:13px;">Roselyn</a>
     </div>
     <div class="row mt-2">
       <div class="col-2"></div>
     <div  style="font-size:20px;margin-top:16px;">
       <img src="./image/parent.png">
     </div>
     <div class="text-center" style="font-size:10px;margin-top:12px;">
     <a>Parents</a>
   <div class="primary" style="font-size:14px;">
     38
   </div>
 </div>
  <div class="" style="font-size:20px;margin-top:16px;">
    <img src="./image/student.png">
  </div>
  <div class="text-center" style="font-size:10px;margin-top:12px;">
  <a>Students</a>
<div class="primary" style="font-size:14px;">
  75
</div>
</div>
   </div>
   </div>
   </div>
<!-- end 1st card -->

<!-- 2nd card -->
  <div class="col-md-2" style="margin-top:35px;">
    <div class="card">
      <div>
        <span style="padding-left:5px;">
          #
        </span>
        <span class="primary" style="margin-top:-80px;">
          18
        </span>
        <div class="d-flex justify-content-end" style="margin-top:-20px;padding-right:12px">
          <img src="./image/cardsetting.png">
        </div>
</div>

    <div class="text-center">
      <img src="./image/pro1.png">
    </div>
    <div class="text-center mt-2">
      <a>Dharshini S</a>
    </div>
    <div class="text-center">
      <img src="./image/cardpro.png">
      <a style="font-size:13px;">Roselyn</a>
    </div>
    <div class="row mt-2">
      <div class="col-2"></div>
    <div  style="font-size:20px;margin-top:16px;">
      <img src="./image/student.png">
    </div>
    <div class="text-center" style="font-size:10px;margin-top:12px;">
    <a>Students</a>
  <div class="primary" style="font-size:14px;">
    38
  </div>
</div>
 <div class="" style="font-size:20px;margin-top:16px;">
   <img src="./image/classpic.png">
 </div>
 <div class="text-center" style="font-size:10px;margin-top:12px;">
 <a>Classes</a>
<div class="primary" style="font-size:14px;">
 75
</div>
</div>
  </div>
    </div>
  </div>
<!-- end 2nd card -->

<!-- 3rd card -->
  <div class="col-md-4" style="margin-top:35px;">
    <div class="card">
      <div class="d-flex justify-content-end" style="margin-top:12px; padding-right:20px;">
        <img src="./image/set.png">
      </div>
        <div class="text-center mt-3">
          <img src="./image/physics.png">
          <img src="./image/maths.png">
          <img src="./image/che.png">
        </div>
        <div class="text-center mt-3">
          Ist Year Physics
        </div>
        <div class="row mt-3">
          <div class="col-3"></div>
          <div class="px-2 mt-1">
          <img src="./image/parent.png">
        </div>
        <div class="text-center" style="font-size:10px;">
        <a>Parents</a>
      <div class="primary" style="font-size:14px;">
        02
      </div>
    </div>
    <div class="px-2 mt-1">
    <img src="./image/student.png">
  </div>
  <div class="text-center" style="font-size:10px;">
  <a>Students</a>
<div class="primary" style="font-size:14px;">
  02
</div>
</div>
<div class="px-2 mt-1">
<img src="./image/clspic1.png">
</div>
<div class="text-center" style="font-size:10px;">
<a>Classes</a>
<div class="primary" style="font-size:14px;">
02
</div>
</div>
      </div>
        </div>
    </div>
<!-- end 3rd card -->

<!-- 4th card -->
  <div class="col-md-2" style="margin-top:35px;">
    <div class="card">
      <div class="d-flex justify-content-end" style="margin-top:2px;padding-right:10px;">
        <img src="./image/cardsetting.png">
      </div>
<div class="text-center">
      <img class="che" src="./image/che.png">
      <img class="maths" src="./image/maths.png">
      <img class="physics" src ="./image/physics.png">
</div>
      <div class="text-center">Ist Year Physics</div>
      <div class="row">
        <div class="px-5 mt-2">
        <img src="./image/student.png">
      </div>
      <div class="text-center mt-2" style="font-size:10px;margin-left:-40px;">
      <a>Students</a>
    <div class="primary" style="font-size:14px;">
      02
    </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
    <div class="px-2" style="font-size:20px;margin-top:16px;">
      <img src="./image/parent.png">
    </div>
    <div class="text-center" style="font-size:10px;margin-top:12px;">
    <a>Parents</a>
  <div class="primary" style="font-size:14px;">
    38
  </div>
</div>
 <div class="px-2" style="font-size:20px;margin-top:16px;">
   <img src="./image/student.png">
 </div>
 <div class="text-center" style="font-size:10px;margin-top:12px;">
 <a>Students</a>
<div class="primary" style="font-size:14px;">
 75
</div>
</div>
  </div>
</div>
  </div>
    </div>
  <!-- end 4th card -->
  </div>
<!-- 1st row ended -->
<div class="row">
   <div class="col-md-1"></div>
<!-- 5th card -->
<div class="col-md-2" style="margin-top:35px;">
  <div class="card">
        <div>
    <a style="padding-left:5px;">
      #
    </a>
    <span class="px-1 primary" style="margin-top:-80px;">
      18
    </span>
      <div class="d-flex justify-content-end" style="margin-top:-20px; padding-right:8px;">
        <img src="./image/cardsetting.png">
      </div>
</div>
  <div class="text-center">
    <img src="./image/pro1.png">
  </div>
  <div class="text-center mt-2">
    <a>Dharshini S</a>
  </div>
  <div class="text-center">
    <img src="./image/cardpro.png">
    <a style="font-size:13px;">Roselyn</a>
  </div>
  <div class="row mt-2">
    <div class="col-2"></div>
  <div  style="font-size:20px;">
    <img src="./image/student.png">
  </div>
  <div class="text-center" style="font-size:10px;">
  <a>Students</a>
<div class="primary" style="font-size:14px;">
  38
</div>
</div>
<div class="" style="font-size:20px;">
 <img src="./image/classpic.png">
</div>
<div class="text-center" style="font-size:10px;">
<a>Classes</a>
<div class="primary" style="font-size:14px;">
75
</div>
</div>
</div>
  </div>
</div>
<!-- end 5th card -->

<!-- 6th  card -->
<div class="col-md-2" style="margin-top:35px;">
  <div class="card">
    <div>
  <a style="padding-left:5px;">  #</a><span class="px-1 primary" style="margin-top:-80px;">18</span>
      <div class="d-flex justify-content-end" style="margin-top:-20px;padding-right:12px">
        <img src="./image/cardsetting.png">
      </div>
    </div>
  <div class="row" style="margin-top:2px;">
    <div class="px-2"></div>
    <div>
    <img  src="./image/pro1.png">
  </div>
  <div class="px-2">
    <a>Dharshini S</a>
  <div class="">
    <img src="./image/cardpro.png">
    <a style="font-size:13px;">Roselyn</a>
  </div>
  </div>
</div>
  <div class="row">
    <div class="px-4"></div>
  <div  style="font-size:20px;margin-top:-4px;">
    <img src="./image/student.png">
  </div>
  <div class="text-center" style="font-size:10px;margin-top:-4px;">
  <a>Students</a>
<div class="primary" style="font-size:14px;">
  38
</div>
</div>
<div class="" style="font-size:20px;margin-top:-4px;">
 <img src="./image/classpic.png">
</div>
<div class="text-center" style="font-size:10px;margin-top:-4px;">
<a>Classes</a>
<div class="primary" style="font-size:14px;">
75
</div>
</div>
</div>
  </div>
</div>
<!-- end  6th  card -->

<!-- 7th card -->
<div class="col-md-2" style="margin-top:35px;">
<div class="card">
  <div style="margin-top:-30px;">
    <img  src="./image/pro1.png" style="margin-top:39px;">
    #<span class="px-1 primary" style="margin-top:-70px;">18</span>
    <div class="d-flex justify-content-end" style="margin-top:-55px; padding-right:13px;">
      <img src="./image/set.png">
    </div>
</div>
<div class="row">
  <div class="px-4"></div>
<div  style="margin-top:5px;margin-left:25px;">
  <a>Dharshini S</a>
<div class="">
  <img src="./image/cardpro.png">
  <a style="font-size:13px;">Roselyn</a>
</div>
</div>
</div>
<div class="row">
  <div class="px-4"></div>
<div  style="font-size:20px;margin-top:3px;">
  <img src="./image/student.png">
</div>
<div class="text-center" style="font-size:10px;margin-top:3px;">
<a>Students</a>
<div class="primary" style="font-size:14px;">
38
</div>
</div>
<div class="" style="font-size:20px;margin-top:3px;">
<img src="./image/classpic.png">
</div>
<div class="text-center" style="font-size:10px;margin-top:3px;">
<a>Classes</a>
<div class="primary" style="font-size:14px;">
75
</div>
</div>
</div>
</div>
</div>
<!-- end 7th card -->

<!-- 8th card -->
<div class="col-md-2" style="margin-top:35px;">
<div class="card">
  <div style="margin-top:-30px;">
    <img  src="./image/pro1.png" style="margin-top:39px;">
    <div class="d-flex justify-content-end" style="margin-top:-60px; padding-right:8px;">
      <img src="./image/set.png">
    </div>
</div>
<div class="px-2" style="margin-top:45px;">
<a>
#
</a>
    <a class="primary">18</a>
  </div>
 <div class="row">
  <div class="px-4"></div>
<div  style="margin-top:-72px;margin-left:25px;">
  <a>Dharshini S</a>
<div class="">
  <img src="./image/cardpro.png">
  <a style="font-size:13px;">Roselyn</a>
</div>
</div>
</div>
<div class="row">
  <div class="px-4"></div>
  <div class="px-2"></div>
<div  style="margin-top:-10px;">
  <img src="./image/parent.png">
</div>
<div class="px-2 primary" style="font-size:14px;margin-top:-10px;">
02
</div>
<div class="" style="margin-top:-10px;">
<img src="./image/classpic.png">
</div>
<div class="px-2 primary" style="font-size:14px;margin-top:-10px;">
06
</div>
</div>
</div>
</div>
<!-- end 8th card -->

<!-- 9th card -->
<div class="col-md-2" style="margin-top:35px;">
<div class="card">
  <div style="margin-top:-30px;">
    <img class="px-2" src="./image/img11.png" width="65" style="margin-top:42px">
    <div class="d-flex justify-content-end" style="margin-top:-60px; padding-right:8px;">
      <img src="./image/set.png">
    </div>
</div>
 <div class="row">
  <div class="px-4"></div>
<div  style="margin-top:-5px;margin-left:25px;">
  <a>Roselyn K</a>
  <div class="" style="font-size:20px;margin-top:2px;">
    <img src="./image/classpic.png">
  </div>
  <div class="px-4 text-center" style="font-size:10px;margin-top:-30px;">
  <a>Classes</a>
  <div class="primary" style="font-size:14px;">
  22
  </div>
  </div>
</div>
</div>
<div class="row">
  <div class="px-4"></div>
<div  style="font-size:20px;margin-top:6px;">
  <img src="./image/parent.png">
</div>
<div class="text-center" style="font-size:10px;margin-top:6px;">
<a>Parents</a>
<div class="primary" style="font-size:14px;">
90
</div>
</div>
<div class="" style="font-size:20px;margin-top:6px;">
<img src="./image/student.png">
</div>
<div class="text-center" style="font-size:10px;margin-top:6px;">
<a>Student</a>
<div class="primary" style="font-size:14px;">
75
</div>
</div>
</div>
</div>
</div>
<!-- end 9th card -->
</div>
<!-- 2nd row ended -->
<div class="row">
   <div class="col-md-1"></div>
<!-- 10th card -->
<div class="col-md-2" style="margin-top:35px;">
<div class="card">
  <div style="margin-top:-30px;">
    <img class="px-2" src="./image/img11.png" width="65" style="margin-top:42px">
    <div class="d-flex justify-content-end" style="margin-top:-60px; padding-right:8px;">
      <img src="./image/set.png">
    </div>
</div>
 <div class="row">
  <div class="px-4"></div>
<div  style="margin-top:-5px;margin-left:25px;">
  <a>Roselyn K</a>
  <div class="px-2" style="font-size:20px;margin-top:2px;">
    <img src="./image/classpic.png">
  </div>
<div  class="text-center primary" style="font-size:14px;margin-top:-25px;margin-left:20px;">
  22
  </div>
</div>
</div>
<div class="row">
  <div class="px-4"></div>
<div class="px-2" style="font-size:20px;margin-top:6px;">
  <img src="./image/parent.png">
</div>
<div  class="px-1 text-center primary" style="font-size:14px;margin-top:12px;">
90
</div>
<div class="px-2" style="font-size:20px;margin-top:6px;">
<img src="./image/student.png">
</div>
<div  class="px-1 text-cente primary" style="font-size:14px;margin-top:12px;">
75
</div>
</div>
</div>
</div>
<!-- end 10th card -->
<!-- 11th card -->
<div class="col-md-6" style="margin-top:35px;">
  <div class="card">
    <div class="table-responsive">
    <table class="table borderless table-hover table-space">
  <tbody>
    <thead>
    <tr>
      <td >#</td>
      <td colspan="2" class="text-center">Students</td>
      <td colspan="2" class="text-center">Teacher</td>
      <td>Parents</td>
      <td>Classes</td>
    </tr>
  </thead>
    <tr>
      <td class="primary">18</td>
      <td><img src="./image/bluetoy.png"></td>
      <td>Dharshini S</td>
      <td><img src="./image/img111.png"></td>
        <td>Roselyn</td>
      <td class="primary text-center">02</td>
        <td class="primary text-center">06</td>
    </tr>
    <tr>
      <td class="primary">108</td>
      <td><img src="./image/browntoy.png"></td>
    <td>Siva Guru</td>
      <td><img src="./image/img222.png"></td>
      <td>Felicia</td>
      <td class="primary text-center">01</td>
        <td class="primary text-center">02</td>
    </tr>
    <tr>
      <td class="primary">210</td>
      <td><img src="./image/yellowtoy.png"></td>
      <td>Kavin</td>
      <td><img src="./image/img333.png"></td>
    <td>Jonathan</td>
      <td class="primary text-center">05</td>
        <td class="primary text-center">12</td>
    </tr>

  </tbody>
</table>
</div>
  </div>
</div>
<!-- end 11th card -->

<!-- 12th card -->
<div class="col-md-2" style="margin-top:35px;">
  <div class="card">
    <div class="d-flex justify-content-end" style="margin-top:2px;padding-right:10px;">
      <img src="./image/cardsetting.png">
    </div>
<div class="text-center">
  <img src="./image/img1111.png">
</div>
    <div class="text-center">Roselyn K</div>
    <div class="row">
      <div class="px-5 mt-2">
      <img src="./image/student.png">
    </div>
    <div class="text-center mt-2" style="font-size:10px;margin-left:-40px;">
    <a>Students</a>
  <div class="primary" style="font-size:14px;">
    02
  </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
  <div class="px-2" style="font-size:20px;margin-top:16px;">
    <img src="./image/parent.png">
  </div>
  <div class="text-center" style="font-size:10px;margin-top:12px;">
  <a>Parents</a>
<div class="primary" style="font-size:14px;">
  38
</div>
</div>
<div class="px-2" style="font-size:20px;margin-top:16px;">
 <img src="./image/student.png">
</div>
<div class="text-center" style="font-size:10px;margin-top:12px;">
<a>Students</a>
<div class="primary" style="font-size:14px;">
75
</div>
</div>
</div>
</div>
</div>
  </div>
<!-- end 12th card -->
</div>
<!-- 3rd row end -->
<div class="row">
   <div class="col-md-1"></div>
<!-- 13th card -->
<div class="col-md-5" style="margin-top:35px;">
  <div class="card">
    <div class="table-responsive">
      <table class="table borderless table-hover table-space" >
   <tbody>
     <thead>
     <tr>
       <td >#</td>
       <td colspan="2" class="px-4">Teacher</td>
       <td class="text-center">Students</td>
       <td>Parents</td>
       <td>Classes</td>
     </tr>
   </thead>
     <tr>
       <td class="primary">01</td>
       <td ><img src="./image/img111.png"></td>
       <td>Roselyn</td>
       <td  class="primary text-center">02</td>
       <td class="primary  text-center">15</td>
         <td class="primary  text-center">06</td>
     </tr>
     <tr>
       <td class="primary">02</td>
       <td><img src="./image/img222.png"></td>
       <td>Felicia</td>
       <td class="primary  text-center">01</td>
         <td class="primary  text-center">20</td>
         <td class="primary  text-center">02</td>
     </tr>
     <tr>
       <td class="primary">03</td>
       <td ><img src="./image/img333.png"></td>
       <td>Jonathan</td>
       <td class="primary  text-center">05</td>
         <td class="primary  text-center">25</td>
         <td class="primary  text-center">12</td>
     </tr>
   </tbody>
 </table>
</div>
  </div>
</div>
<!-- end 13th card -->
</div>
</div>
<footer class="footer">
     <div class="container center">
       <div class="row justify-content-center">
         <a class="nav-link js-scroll-trigger" href="">All rights reserved &copy;
         <span style="color:#9acd32;font-size:25px;">dexter</span>
       <span style="color:#ace6fd;font-size:25px;">dojo</span> </a>
       </div>
     </div>
   </footer>
</body>
<style>
body{
font-family:sans-serif;
background-color:	#F0EFEC;
}
@-ms-viewport{
  width: device-width;
}
:root{
  --main-primary-color:#45b1cc;
}
.cover-pic{
background:url('./image/cover.jpg') no-repeat 50% 0;
background-size:100% auto;
height:250px;
  }
.clr{
    background-color: #f8f9fa;
  }
.primary{
  color:var(--main-primary-color);
}
.notification-bell{
font-size:27px;
}
.notification-counter {
  position: relative;
  font-size:2em;
  color: #333;
  transition: all .2s ease-in-out;
}
.notification-counter[data-counter]:after {
  content: attr(data-counter);
  position: absolute;
  top: -0px;
  left: 50%;
  font-size: .4em;
  font-weight: bold;
  background:var(--main-primary-color);
  color: #fff;
  text-align: center;
  border-radius:50%;
  padding: 3px 5px;
}
#topheader .navbar-nav li > a:hover, #topheader .navbar-nav li > a:focus {
  cursor:pointer;
  color: #45b1cc;
}

#topheader .navbar-nav li.active > a {
  color: #45b1cc;
  cursor:pointer;
}
.inset img {
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: -1px;
    overflow: hidden;
    position: relative;
    height: 39px;
    width: 39px;
    z-index: 0;
    cursor:pointer;
}
div.nav-bar a
{
    color: #FFF;
    text-decoration: none;
    font: 20px;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.Pro-avatar {
    bottom: -28px;
    left:150px;
    position: absolute;
    transition: bottom .3s;
    z-index: 3;
}
  .ProAvatar {
    background: #fff;
    border: 5px solid #fff;
    border-radius: 25%;
    height:165px;
    position: relative;
    width:165px;
}
.ProAvatar-container {
    outline: 0;
}
.u-block {
    display: block!important;
}
.ProAvatar-image, .ProAvatar-placeholderImage {
    -moz-force-broken-image-icon: 1;
    border-radius: 25%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.che{
margin-left:1px;
  left:0px;
  z-index: 1;
}
.maths {
margin-left:-30px;
  left:30px;
  z-index: 3;
}
.physics {
margin-left:-30px;
  left:60px;
   z-index: 6;
 }
 .borderless td, .borderless td {
    border: none;
}
.table-responsive {
    max-height:300px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #4ab3cd3e;
}
.table-space tbody td{
  white-space: nowrap;
}
.footer {
  margin-top:12px;
background-color: #fff;
  width: 100%;
  height:50px;
}
</style>
</html>
